*{
    margin: 0
}

img{
    height: 200px;
    width: 250px;
}

h1{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

h1, h2{
    color: yellow;
}

nav, p{
    color: white;
}

nav ul :nth-child(3){
    color: yellow;
}

nav li:hover{
    transition-delay: 200ms;
    border-bottom: medium yellow solid;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

nav ul{
    margin: 1em;
    text-align: center;
}

nav li{
    display: inline;
    margin: 2em;
    font-weight: bold;
}

main{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

main img{
    border-radius: 15px;
    margin-right: 1em;
    margin: 1em;
}

main > ul{
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0;
    margin: 1em;
}

main > ul li{
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
    border-radius: 15px;
    background-color: gray;
}

main > ul div{
    margin: 1em;
}

main > ul div h2{
    margin-bottom: 1em;
}

main > ul :nth-child(2n){
    flex-direction: row-reverse;
}

aside{
    flex-basis: 15%;
    min-width: 200px;
    flex-grow: 1;
    border-top: medium solid yellow;
    border-bottom: medium solid yellow;
    margin: 1em;
    height: 50%;
    font-weight: bold;
    color: white;
}

h2{
    margin-bottom: 1em;
}

aside ul{
    list-style-type: disc;
}

.contacts, .nouvelles, .reseaux{
    margin-bottom: 2em;
    margin-top: 2em;
}

footer{
    height: 50px;
}

body{
    background-color: black;
}

footer p{
    text-align: center;
    font-weight: bold;
}


